{% extends "includes/main/main.html" %}

{% block content %}
<div class="col-md-9">
	<h2>Update Category</h2>
	<form method="POST" action="{{ url_for('update_category', category_id=category_id) }}">
		<div class="form-group">
			<input type="text" name="name" class="form-control" value="{{ category_name }}" title="Category Name"><br>
			<input type="submit" value="Update" class="btn btn-primary">
			<a href="{{ url_for('index') }}">
				<input type="button" value="Cancel" class="btn btn-inverse">
			</a>
		</div>
	</form>
</div>
{% endblock %}